:root {
    --color-violet: #b125e9;
    --color-red: #ff3100;
    --color-blue: #0089ff;
    --color-green: #2dc553;
    --color-gray: #535353;
}

/***************************************************************
*   color
***************************************************************/
.color-violet { color: var(--color-violet); }
.color-red { color: var(--color-red); }
.color-blue { color: var(--color-blue); }
.color-green { color: var(--color-green); }
.color-gray { color: var(--color-gray); }

/***************************************************************
*   button
***************************************************************/
.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 3px;
}
.button .name { flex: 1; }

/* 紫色ボタン */
.button.violet {
    color: white;
    border: solid 1px var(--color-violet);
    background-color: var(--color-violet);
}
.button.violet:hover {
    color: var(--color-violet);
    background-color: white;
}

/* 青色ボタン */
.button.blue {
    color: white;
    border: solid 1px var(--color-blue);
    background-color: var(--color-blue);
}
.button.blue:hover {
    color: var(--color-blue);
    background-color: white;
}

/* 灰色ボタン */
.button.gray {
    color: white;
    border: solid 1px var(--color-gray);
    background-color: var(--color-gray);
}
.button.gray:hover {
    color: var(--color-gray);
    background-color: white;
}

/* 左にアイコンが存在するボタン */
.button.left_icon { padding-right: 30px; }

/***************************************************************
*   input
***************************************************************/
.input {
    padding: 10px 15px;
    border: solid 1px #79d5ff;
    border-radius: 3px;
    background-color: #b8e9ff;
}
.input:focus {
    border: solid 1px #4174ff;
    outline: none;
}

/***************************************************************
*   radio
***************************************************************/
.radio {
    display: flex;
    align-items: center;
}
/* ラジオボタン */
.radio input {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px #79d5ff;
    background-color: #b8e9ff;
    cursor: pointer;
}
/* ラジオボタンチェック時の円形 */
.radio input:checked::before {
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-blue);
}
/* ラジオボタンに対応するラベル */
.radio input + label { margin-left: 10px; }

/***************************************************************
*   必須マーク
***************************************************************/
.required::before {
    content: '*';
    color: var(--color-red);
}

/***************************************************************
*   body
***************************************************************/
body {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100dvw;
    height: 100dvh;
    font-size: 14px;
    overflow: hidden;
}

/***************************************************************
*   app
***************************************************************/
#app {
    width: 100%;
    height: 100%;
}

/***************************************************************
*   リスト
***************************************************************/
.list li {
    border-top: solid 1px #f3f3f3;
    cursor: pointer;
}
.list li:hover {
    background-color: #cfecff;
}
/* リスト内に表示するコンテンツ */
.list li .content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}
/* リスト内に表示するアイコン */
.list li .content .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.list li .content .icon span { font-size: 30px; }
/* リスト内に表示する削除アイコン */
.list li .content .icon.delete {
    color: var(--color-red);
}
.list li .content .icon.delete:hover {
    color: white;
    background-color: var(--color-red);
}
/* リスト内に表示する編集アイコン */
.list li .content .icon.edit {
    color: var(--color-green);
}
.list li .content .icon.edit:hover {
    color: white;
    background-color: var(--color-green);
}

/***************************************************************
*   メニュー一覧を表示するページのテンプレート
***************************************************************/
.template_menu {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
/* グループを内包する行 */
.template_menu .row {
    display: flex;
    gap: 15px;
}
/* メニューを内包するグループ */
.template_menu .row .group {
    flex: 1;
}
/* グループ名 */
.template_menu .group .group_name {
    display: flex;
    align-items: center;
}
/* グループ名のアイコン */
.template_menu .group .group_name .icon {
    /* グループ名のアイコンと名称の間隔を調整 */
    margin-right: 10px;
    color: var(--color-violet);
}
/* グループ名のアイコンと名称を上下中央寄せに設定 */
.template_menu .group .group_name .name { margin-top: 5px; }
/* グループ内に含まれるメニューの一覧 */
.template_menu .group .menu_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0px;
}
/* メニュー内のボタンの横幅 */
.template_menu .group .menu_list .button {
    flex-grow: 1;
    min-width: 180px;
}

/***************************************************************
*   一覧を表示するページのテンプレート
***************************************************************/
.template_list {
    display: flex;
    width: 100%;
    height: 100%;
}
/* 一覧を内包するコンテナー */
.template_list .list_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 一覧を内包するコンテナーの上部 */
.template_list .list_container .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.template_list .list_container .top .left,
.template_list .list_container .top .right {
    display: flex;
    align-items: center;
}

/* 一覧表示用のコンテナー */
.template_list .list_container .list_wrap {
    flex: 1;
    height: 100%;
    overflow: hidden;
}
.template_list .list_container .list_wrap .list {
    height: 100%;
    overflow: auto;
}


.template_list .sub_menu_open_icon {
    font-size: 40px;
    cursor: pointer;
}